

@media (max-width: 3000px){
    .certificação{
        width: auto;
        height: 100%;
        padding: 25px;
        background-color: black;
        color: whitesmoke;
        border-radius: 5px;
      }
    .certificações_container{
    max-width: 1300px;
    
        width: 80%;
        height: fit-content ;
        background-color: none;
        display: flex;
        align-items: center;
        gap: 10px   ;
        justify-content:center;
        flex-wrap: wrap;
  }
}
@media (max-width:600px) {
    .certificações_container{
        max-width: 1300px;
        
            width: 80%;
            height: fit-content ;
            background-color: none;
            display: flex;
            align-items: center;
            gap: 15px   ;
            justify-content:center;
            flex-wrap: wrap;
      }
    .certificação{
        width: 80%;
        min-width: 120px;
        height: 100%;
        padding: 25px;
        background-color: black;
        color: whitesmoke;
        border-radius: 5px;
      }
}